/* Add CSS Styling */
.class1{
    background-color: rgb(230, 139, 147); 
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#id1{
    color: blue;
    font-size: 36px;
}
#id2{
    background-color: rgb(116, 202, 116);
    font-size: 24px;
    font-weight: bold;
}
.class2{
    font-size: 24px;
}
